<html>

<head>
    <script src="https://unpkg.com/htmx.org@1.9.6"></script>
    <style>
        details>*:not(summary):not(ul) {
            margin-left: 2em;
        }
    </style>
    <link href="./output.css" rel="stylesheet" />
</head>

<body class="bg-zinc-100">
    <div class="shadow-md my-10 mx-auto p-6 md:p-10 max-w-screen-md bg-white border-zinc-100">
        <h1>
            1,000,000 Wikipedia articles, neatly categorized.
        </h1>
        <p>
            This page is a demo for organize-anything, a tool which uses machine learning to organize a list of text
            items into named categories and subcategories.
            For the
            code and technical details see the
            <a href="https://github.com/fplonka/organize-anything">GitHub repo</a>.
        </p>
        <p>
            The articles were organized only by their title. You can click a category to expand it.
        </p>

        <div id="items">
            <details>
                <summary>Global Cultural Influencers and Heritage</summary>
                <details>
                    <summary>Global Cultural Heritage and Influential Figures</summary>
                    <details>
                        <summary>Cultural and Historical Influences</summary>
                        <details>
                            <summary>Cultural and Historical Knowledge</summary>
                            <details hx-get="/fragment/fragment_-4067316805595319202" hx-swap="outerHTML"
                                hx-target="this" hx-trigger="click">
                                <summary>Natural and Ancient Knowledge</summary>
                                <p>Loading...</p>
                            </details>
                            <details hx-get="/fragment/fragment_3132082352445416694" hx-swap="outerHTML"
                                hx-target="this" hx-trigger="click">
                                <summary>Global Tennis Competitions</summary>
                                <p>Loading...</p>
                            </details>
                        </details>
                        <details>
                            <summary>Georgian and Eastern European Influentials</summary>
                            <details hx-get="/fragment/fragment_-5390482626541516248" hx-swap="outerHTML"
                                hx-target="this" hx-trigger="click">
                                <summary>Georgian and Eurasian Notables and Localities</summary>
                                <p>Loading...</p>
                            </details>
                            <details hx-get="/fragment/fragment_-5340755621307593511" hx-swap="outerHTML"
                                hx-target="this" hx-trigger="click">
                                <summary>Eastern European Notable Personalities</summary>
                                <p>Loading...</p>
                            </details>
                        </details>
                    </details>
                    <details>
                        <summary>Cultural Heritage and Influential Figures of Africa, Asia, and South Asia</summary>
                        <details>
                            <summary>Cultural Heritage and Influential Figures of Africa and Asia</summary>
                            <details hx-get="/fragment/fragment_-1970047338927610866" hx-swap="outerHTML"
                                hx-target="this" hx-trigger="click">
                                <summary>Cultural Heritage and Notable Figures from Africa and Asia</summary>
                                <p>Loading...</p>
                            </details>
                            <details hx-get="/fragment/fragment_6363345737961881584" hx-swap="outerHTML"
                                hx-target="this" hx-trigger="click">
                                <summary>Central Asia and Turkey Cultural Heritage</summary>
                                <p>Loading...</p>
                            </details>
                        </details>
                        <details>
                            <summary>Key Figures and Influencers in South Asia and Iran</summary>
                            <details hx-get="/fragment/fragment_9154623871658585220" hx-swap="outerHTML"
                                hx-target="this" hx-trigger="click">
                                <summary>Key Figures and Locations of South Asia and Iran</summary>
                                <p>Loading...</p>
                            </details>
                            <details hx-get="/fragment/fragment_7978124327661735687" hx-swap="outerHTML"
                                hx-target="this" hx-trigger="click">
                                <summary>South Asian Cultural and Political Influencers</summary>
                                <p>Loading...</p>
                            </details>
                        </details>
                    </details>
                </details>
                <details>
                    <summary>Cultural and Historical Influencers</summary>
                    <details>
                        <summary>Cultural Figures and Historical Contexts</summary>
                        <details>
                            <summary>Historical Influences in Cultural Narratives</summary>
                            <details hx-get="/fragment/fragment_5543384529762181904" hx-swap="outerHTML"
                                hx-target="this" hx-trigger="click">
                                <summary>Cultural and Historical Heritage</summary>
                                <p>Loading...</p>
                            </details>
                            <details hx-get="/fragment/fragment_-9166505573568649563" hx-swap="outerHTML"
                                hx-target="this" hx-trigger="click">
                                <summary>Influential Figures in Hungarian and Nordic History</summary>
                                <p>Loading...</p>
                            </details>
                        </details>
                        <details>
                            <summary>Cultural Influencers and Places</summary>
                            <details hx-get="/fragment/fragment_-6386677865602786829" hx-swap="outerHTML"
                                hx-target="this" hx-trigger="click">
                                <summary>French Places and Cultural Influences</summary>
                                <p>Loading...</p>
                            </details>
                            <details hx-get="/fragment/fragment_7209790161297926472" hx-swap="outerHTML"
                                hx-target="this" hx-trigger="click">
                                <summary>Latin American Athletes and Cultural Influencers</summary>
                                <p>Loading...</p>
                            </details>
                        </details>
                    </details>
                    <details>
                        <summary>Notable Individuals and Influencers</summary>
                        <details>
                            <summary>Notable Individuals by Heritage and Historical Figures</summary>
                            <details hx-get="/fragment/fragment_-2597080826707251124" hx-swap="outerHTML"
                                hx-target="this" hx-trigger="click">
                                <summary>Notable Individuals by Heritage</summary>
                                <p>Loading...</p>
                            </details>
                            <details hx-get="/fragment/fragment_-2779119405948479487" hx-swap="outerHTML"
                                hx-target="this" hx-trigger="click">
                                <summary>Historical British Figures and Notable Achievements</summary>
                                <p>Loading...</p>
                            </details>
                        </details>
                        <details>
                            <summary>Prominent Figures and Influencers</summary>
                            <details hx-get="/fragment/fragment_2556174173043260602" hx-swap="outerHTML"
                                hx-target="this" hx-trigger="click">
                                <summary>Notable Individuals and Figures</summary>
                                <p>Loading...</p>
                            </details>
                            <details hx-get="/fragment/fragment_-6092550519909706029" hx-swap="outerHTML"
                                hx-target="this" hx-trigger="click">
                                <summary>Influential and Noteworthy Individuals</summary>
                                <p>Loading...</p>
                            </details>
                        </details>
                    </details>
                </details>
            </details>
            <details>
                <summary>Cultural and Biological Diversity</summary>
                <details>
                    <summary>Cultural Heritage and Events</summary>
                    <details>
                        <summary>Sports and Heritage Events</summary>
                        <details>
                            <summary>Sporting Events and Historical Teams</summary>
                            <details hx-get="/fragment/fragment_6798500548575162330" hx-swap="outerHTML"
                                hx-target="this" hx-trigger="click">
                                <summary>Sporting Events and Competitions</summary>
                                <p>Loading...</p>
                            </details>
                            <details hx-get="/fragment/fragment_3870107916217144713" hx-swap="outerHTML"
                                hx-target="this" hx-trigger="click">
                                <summary>Historical Sports Teams and Seasons</summary>
                                <p>Loading...</p>
                            </details>
                        </details>
                        <details>
                            <summary>Cultural and Political Heritage Sites</summary>
                            <details hx-get="/fragment/fragment_-1133883826162686435" hx-swap="outerHTML"
                                hx-target="this" hx-trigger="click">
                                <summary>Cultural, Historical, and Geographic Sites</summary>
                                <p>Loading...</p>
                            </details>
                            <details hx-get="/fragment/fragment_-132566444370765912" hx-swap="outerHTML"
                                hx-target="this" hx-trigger="click">
                                <summary>Political Events and Institutions</summary>
                                <p>Loading...</p>
                            </details>
                        </details>
                    </details>
                    <details>
                        <summary>Cultural Innovations and Recognitions</summary>
                        <details>
                            <summary>Diverse Innovations and Cultural Entities</summary>
                            <details hx-get="/fragment/fragment_8790389240760944124" hx-swap="outerHTML"
                                hx-target="this" hx-trigger="click">
                                <summary>Astronomical Objects and Technological Innovations</summary>
                                <p>Loading...</p>
                            </details>
                            <details hx-get="/fragment/fragment_2327681296183531644" hx-swap="outerHTML"
                                hx-target="this" hx-trigger="click">
                                <summary>Cultural and Historical Entities</summary>
                                <p>Loading...</p>
                            </details>
                        </details>
                        <details>
                            <summary>Cultural Works and Recognitions</summary>
                            <details hx-get="/fragment/fragment_-5805849223134320655" hx-swap="outerHTML"
                                hx-target="this" hx-trigger="click">
                                <summary>Cultural Works and Events</summary>
                                <p>Loading...</p>
                            </details>
                            <details hx-get="/fragment/fragment_6099748559834857284" hx-swap="outerHTML"
                                hx-target="this" hx-trigger="click">
                                <summary>Awards and Cultural Recognition</summary>
                                <p>Loading...</p>
                            </details>
                        </details>
                    </details>
                </details>
                <details>
                    <summary>Biodiversity and Biological Sciences</summary>
                    <details>
                        <summary>Ecological Diversity and Species Taxonomy</summary>
                        <details>
                            <summary>Biodiversity and Mythology</summary>
                            <details hx-get="/fragment/fragment_-8340307744342080463" hx-swap="outerHTML"
                                hx-target="this" hx-trigger="click">
                                <summary>Biodiversity and Mythical Taxa</summary>
                                <p>Loading...</p>
                            </details>
                            <details hx-get="/fragment/fragment_-6486336158006204643" hx-swap="outerHTML"
                                hx-target="this" hx-trigger="click">
                                <summary>Ancient Texts and Biodiversity</summary>
                                <p>Loading...</p>
                            </details>
                        </details>
                        <details>
                            <summary>Diverse Plant and Animal Species</summary>
                            <details hx-get="/fragment/fragment_7722418849445198646" hx-swap="outerHTML"
                                hx-target="this" hx-trigger="click">
                                <summary>Biodiversity of Flora and Fauna</summary>
                                <p>Loading...</p>
                            </details>
                            <details hx-get="/fragment/fragment_253846066290918456" hx-swap="outerHTML" hx-target="this"
                                hx-trigger="click">
                                <summary>Plant Species Collections</summary>
                                <p>Loading...</p>
                            </details>
                        </details>
                    </details>
                    <details>
                        <summary>Biological and Astronomical Entities</summary>
                        <details>
                            <summary>Celestial and Biological Entities</summary>
                            <details hx-get="/fragment/fragment_-7371177293613582908" hx-swap="outerHTML"
                                hx-target="this" hx-trigger="click">
                                <summary>Celestial Bodies and Lunar Features</summary>
                                <p>Loading...</p>
                            </details>
                            <details hx-get="/fragment/fragment_4787991717468418020" hx-swap="outerHTML"
                                hx-target="this" hx-trigger="click">
                                <summary>Biodiversity and Ornithological Milestones</summary>
                                <p>Loading...</p>
                            </details>
                        </details>
                        <details>
                            <summary>Biomedical and Chemical Research</summary>
                            <details hx-get="/fragment/fragment_-4391637314462964346" hx-swap="outerHTML"
                                hx-target="this" hx-trigger="click">
                                <summary>Scientific and Medical Innovations</summary>
                                <p>Loading...</p>
                            </details>
                            <details hx-get="/fragment/fragment_-7377178333584547049" hx-swap="outerHTML"
                                hx-target="this" hx-trigger="click">
                                <summary>Minuscule Variants and Chemical Compounds</summary>
                                <p>Loading...</p>
                            </details>
                        </details>
                    </details>
                </details>
            </details>
        </div>
    </div>
</body>

</html>