*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  
}

.static {
  position: static
}

.absolute {
  position: absolute
}

.isolate {
  isolation: isolate
}

.m-0 {
  margin: 0px
}

.m-auto {
  margin: auto
}

.mx-auto {
  margin-left: auto;
  margin-right: auto
}

.my-10 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem
}

.mb-0 {
  margin-bottom: 0px
}

.mt-0 {
  margin-top: 0px
}

.flex {
  display: flex
}

.contents {
  display: contents
}

.hidden {
  display: none
}

.h-\[800px\] {
  height: 800px
}

.h-screen {
  height: 100vh
}

.min-h-screen {
  min-height: 100vh
}

.w-\[1200px\] {
  width: 1200px
}

.max-w-screen-md {
  max-width: 768px
}

.max-w-screen-xl {
  max-width: 1280px
}

.flex-grow {
  flex-grow: 1
}

.flex-col {
  flex-direction: column
}

.items-center {
  align-items: center
}

.justify-center {
  justify-content: center
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

.border-2 {
  border-width: 2px
}

.border {
  border-width: 1px
}

.border-none {
  border-style: none
}

.border-red-500 {
  --tw-border-opacity: 1;
  border-color: rgb(239 68 68 / var(--tw-border-opacity))
}

.border-zinc-100 {
  --tw-border-opacity: 1;
  border-color: rgb(244 244 245 / var(--tw-border-opacity))
}

.border-red-50 {
  --tw-border-opacity: 1;
  border-color: rgb(254 242 242 / var(--tw-border-opacity))
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.bg-zinc-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(244 244 245 / var(--tw-bg-opacity))
}

.bg-zinc-400 {
  --tw-bg-opacity: 1;
  background-color: rgb(161 161 170 / var(--tw-bg-opacity))
}

.p-6 {
  padding: 1.5rem
}

.p-8 {
  padding: 2rem
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem
}

.pb-0 {
  padding-bottom: 0px
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem
}

.shadow-md {
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.brightness-75 {
  --tw-brightness: brightness(.75);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.\*\:p-10 > * {
  padding: 2.5rem
}

.\*\:py-1 > * {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem
}

.\*\:py-10 > * {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem
}

.\*\:text-red-100 > * {
  --tw-text-opacity: 1;
  color: rgb(254 226 226 / var(--tw-text-opacity))
}

.\*\:text-red-50 > * {
  --tw-text-opacity: 1;
  color: rgb(254 242 242 / var(--tw-text-opacity))
}

.\*\:text-red-500 > * {
  --tw-text-opacity: 1;
  color: rgb(239 68 68 / var(--tw-text-opacity))
}

@media (min-width: 768px) {
  .md\:p-10 {
    padding: 2.5rem
  }

  .md\:px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem
  }

  .md\:py-6 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem
  }
}

.\[\&_a\]\:p-10 a {
  padding: 2.5rem
}

.\[\&_s\]\:p-10 s {
  padding: 2.5rem
}

.\[\&_su\]\:p-10 su {
  padding: 2.5rem
}

.\[\&_sum\]\:p-10 sum {
  padding: 2.5rem
}

.\[\&_summ\]\:p-10 summ {
  padding: 2.5rem
}

.\[\&_summar\]\:p-10 summar {
  padding: 2.5rem
}

.\[\&_summary\]\:p-10 summary {
  padding: 2.5rem
}

.\[\&_summary\]\:p-1 summary {
  padding: 0.25rem
}

.\[\&_summary\]\:py-2 summary {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem
}

.\[\&_summary\]\:py-5 summary {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem
}

.\[\&_summary\]\:py-1 summary {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem
}

.\[\&_summary\]\:pt-1 summary {
  padding-top: 0.25rem
}

.\[\&_summary\]\:text-red-50 summary {
  --tw-text-opacity: 1;
  color: rgb(254 242 242 / var(--tw-text-opacity))
}

.\[\&_summary\]\:text-red-500 summary {
  --tw-text-opacity: 1;
  color: rgb(239 68 68 / var(--tw-text-opacity))
}
